body {
  font-family: "lato", sans-serif;
}

#sitesContainer {
  display: flex;
  flex-direction: column;
}

li {
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  list-style-type: none;
}

li:hover {
  background-color: #e0e0e0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

form {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

button[type="submit"] {
  padding: 8px 12px; 
  border: 1px solid #007bff;
  border-radius: 0 4px 4px 0;
  background: #007bff;
  color: #fff;
}