body {
  font-family: "lato", sans-serif;
  background-color: #191a1a;
  color: rgb(219, 214, 214);
}

#sitesContainer {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}

li {
  padding: 10px 0px 10px 10px;
  margin: 2px;
  background-color: #212324;
  cursor: pointer;
  list-style-type: none;
}

li:hover {
  background-color: #383a3b;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

form {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 8px;
  left: 0px;
  right: 0px;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px 4px 4px 4px;
  height: 30px;
}